@import url("./main.css");

.login-outer-container {
    background: var(--bg-color);
    /*linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url("~/assets/loginImg.jpg")*/
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}