:root {
    /*GLOBAL VARIABLE*/
    --bg-color: #1e1e2e;
    /* #16113a;*/
    /*CARD VARIABLE*/
    --card-bg-color: #27293d;
    /* #272953;*/
    --card-shadow-color: #1b1d46;
    --card-border: 0px solid #1b1d46;
    --card-border-radius: .5rem;
    --card-font-color: #FFFFFF;
    --card-padding: 0 0 0 0;
    --card-margin: 0 0 0 0;
    --card-font-color: #FFFFFF;
    /*CARD LINK VARIABLE*/
    --card-link-font-color: #17a2b8;
    /*CARD TITLE VARIABLE*/
    --card-title-color: var(card-font-color);
    --card-title-margin-bottom: 0;
    /*CARD ERROR VARIABLE*/
    --card-error-bg-color: rgba(255, 0, 0, .3);
    --card-error-border: 2px solid red;
    --card-error-border-radius: 5px;
    --card-error-padding: 2px;
    --card-error-margin: 5vh 0 5vh 0;
    /*CARD BUTTON VARIABLE*/
}

body {
    background: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}