@import url("./main.css");

.navbar {
    background: transparent;
    color: white;
}

.navbar-brand {
    color: white !important;
    margin-left: 20px;
}

.navbar * {
    color: white;
}

.navbar-nav-item-color a {
    color: rgba(255, 255, 255, 1) !important;
    margin-bottom: 2vh;
    font-size: 1.3em;
    font-weight: bold;
}